<div
  [ngClass]="{ 'w-72': open, 'w-20': !open }"
  class="bg-dark-purple h-screen p-5 pt-8 relative duration-300"
>
  <img
    [ngClass]="{ 'rotate-180': !open }"
    class="absolute cursor-pointer -right-3 top-9 w-7 border-dark-purple border-2 rounded-full"
    src="assets/images/control.png"
    (click)="toggleMenu()"
  />
  <div class="flex gap-x-4 items-center px-2">
    <img
      src="assets/images/logo.ico"
      class="cursor-pointer duration-500 w-10"
      [ngClass]="{ 'rotate-[360deg]': open }"
    />
    <h1
      class="text-white origin-left font-medium text-xl duration-200"
      [ngClass]="{ 'scale-0': !open }"
    >
      Youtube sharing
    </h1>
  </div>
  <ul class="pt-6">
    <li
      *ngFor="let menu of menus"
      [routerLink]="[menu.url]"
      class="flex rounded-md px-2 py-3 cursor-pointer hover:bg-light-white text-gray-300 text-sm items-center gap-x-4"
    >
      <span class="material-symbols-outlined">
        {{ menu.icon }}
      </span>
      <span [ngClass]="{ hidden: !open }">
        {{ menu.title }}
      </span>
    </li>
  </ul>

  <ul class="pt-6">
    <li
      *ngFor="let menu of accountMenus"
      class="flex rounded-md px-2 py-3 cursor-pointer hover:bg-light-white text-gray-300 text-sm items-center gap-x-4"
    >
      <span class="material-symbols-outlined">
        {{ menu.icon }}
      </span>
      <span [ngClass]="{ hidden: !open }">
        {{ menu.title }}
      </span>
    </li>
  </ul>
  <div
    class="flex absolute bottom-0 left-0 p-2 items-center w-full"
    [ngClass]="{ 'justify-center': !open }"
    *ngIf="isLogin"
  >
    <img class="rounded-full w-8" src="assets/images/user-avatar.png" />
    <span
      [ngClass]="{ hidden: !open }"
      class="m-2 text-white origin-left font-medium w-44 text-ellipsis whitespace-nowrap overflow-hidden"
      >WillWillWillWillWillWillWillWillWillWill</span
    >
    <img
      [ngClass]="{ hidden: !open }"
      class="w-5 cursor-pointer absolute right-2"
      src="assets/images/logout.png"
    />
  </div>
</div>
