<div class="flex gap-2.5 mb-3 shadow-md" *ngIf="video">
  <iframe
    width="350"
    height="200"
    [src]="video.embedUrl | safe"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <div class="flex flex-col">
    <div class="title text-red-600 font-bold">
      {{ video.videoInfo.title }}
    </div>
    <div class="mt-2">Share by: {{ video.User.fullName }}</div>
    <div class="flex">
      <div class="flex items-center gap-1 mr-5">
        <span class="material-symbols-outlined"> thumb_up </span
        ><span>33k</span>
      </div>
      <div class="flex items-center gap-1">
        <span class="material-symbols-outlined"> thumb_down </span
        ><span>33k</span>
      </div>
    </div>
    <div class="description h-24 overflow-hidden">
      {{ video.videoInfo.description }}
    </div>
  </div>
</div>
