<form [formGroup]="sharingForm" (ngSubmit)="onShare()" novalidate>
  <div
    class="w-full h-96 flex flex-col items-center justify-items-center justify-center m-auto"
  >
    <h1 class="mb-5 pb-3 border-b text-3xl">Share video</h1>
    <div class="w-80 relative mb-5">
      <input
        class="border rounded w-full h-9 p-2 bg-white text-sm italic active:outline-none focus:outline-none"
        type="text"
        id="userName"
        placeholder="URL"
        formControlName="url"
      />
      <div
        *ngIf="url && url.invalid && (url.dirty || url.touched)"
        class="text-red-500 italic text-sm"
      >
        <div *ngIf="url.errors?.['required']">URL is required.</div>
      </div>
    </div>

    <div *ngIf="errorMsg" class="text-red-500 italic text-sm mb-2">
      <div>{{ errorMsg }}</div>
    </div>
    <div *ngIf="successMsg" class="text-green-500 italic text-sm mb-2">
      <div>{{ successMsg }}</div>
    </div>
    <button
      type="submit"
      class="py-2 px-3 bg-cyan-500 text-white text-sm font-semibold rounded-md shadow-lg shadow-cyan-500/50 focus:outline-none"
    >
      Share
    </button>
  </div>
</form>
